alembic==1.0.0
apispec==1.0.0b1
falcon==1.4.1
falcon-apispec==0.1.0
falcon-auth==1.1.0
falcon-swagger-ui==1.1.1
gunicorn==19.9.0
marshmallow==3.0.0b12
psycopg2-binary==2.7.5
redis==2.10.6
rq==0.12.0
rq-scheduler==0.8.3
SQLAlchemy==1.2.10
SQLAlchemy-Wrapper==1.9.1
webargs==4.0.0
