alembic==1.0.0
apispec==1.0.0b1
bcrypt==3.1.4
elasticsearch==6.3.0
falcon-apispec==0.1.0
falcon-auth==1.1.0
falcon-swagger-ui==1.1.1
falcon==1.4.1
gunicorn==19.9.0
marshmallow==3.0.0b12
passlib==1.7.1
psycopg2-binary==2.7.5
redis==2.10.6
rq-scheduler==0.8.3
rq==0.12.0
SQLAlchemy-Wrapper==1.9.1
SQLAlchemy==1.2.10
webargs==4.0.0
